<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<!-- <link rel="shortcut icon" href="user/img/logo.png"> -->
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>LEONE SHOPPING</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-DVHtXckf4jN1V05S2kDEpvxL5YnHTfK+zqJwYpKk9Kgs/QTiHT6eTz1S/J4+heJeeIqTQ2cym2JN7y2gCq0K1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="/user/css/linearicons.css">
	<link rel="stylesheet" href="/user/css/font-awesome.min.css">
	<link rel="stylesheet" href="/user/css/themify-icons.css">
	<link rel="stylesheet" href="/user/css/bootstrap.css">
	<link rel="stylesheet" href="/user/css/owl.carousel.css">
	<link rel="stylesheet" href="/user/css/nice-select.css">
	<link rel="stylesheet" href="/user/css/nouislider.min.css">
	<link rel="stylesheet" href="/user/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="/user/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="/user/css/magnific-popup.css">
	<link rel="stylesheet" href="/user/css/main.css">
</head>