<%- include('../partials/admin/adminHead.ejs') %>
  <%- include('../partials/admin/adminHeader.ejs') %>

    <body id="reportsPage">
      <div class="" id="home">
        <div class="container">
          <div class="row">
            <div class="col">
              <p class="text-white mt-5 mb-5">Welcome back, <b>Ramdev</b></p>
            </div>
          </div>
          <!-- row -->
          <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
              <div class="tm-bg-primary-dark tm-block">
                <h2 class="tm-block-title">Latest Hits</h2>
                <canvas id="lineChart"></canvas>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
              <div class="tm-bg-primary-dark tm-block">
                <h2 class="tm-block-title">Performance</h2>
                <canvas id="barChart"></canvas>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
              <div class="tm-bg-primary-dark tm-block tm-block-taller">
                <h2 class="tm-block-title">Storage Information</h2>
                <div id="pieChartContainer">
                  <canvas id="pieChart" class="chartjs-render-monitor" width="200" height="200"></canvas>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
              <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                <h2 class="tm-block-title">Notification List</h2>
                <div class="tm-notification-items">
                  <div class="media tm-notification-item">
                    <div class="tm-gray-circle"><img src="/admin/img/notification-01.jpg" alt="Avatar Image"
                        class="rounded-circle"></div>
                    <div class="media-body">
                      <p class="mb-2"><b>Jessica</b> and <b>6 others</b> sent you new <a href="#"
                          class="tm-notification-link">product updates</a>. Check new orders.</p>
                      <span class="tm-small tm-text-color-secondary">6h ago.</span>
                    </div>
                  </div>
                  <div class="media tm-notification-item">
                    <div class="tm-gray-circle"><img src="/admin/img/notification-02.jpg" alt="Avatar Image"
                        class="rounded-circle"></div>
                    <div class="media-body">
                      <p class="mb-2"><b>Oliver Too</b> and <b>6 others</b> sent you existing <a href="#"
                          class="tm-notification-link">product updates</a>. Read more reports.</p>
                      <span class="tm-small tm-text-color-secondary">6h ago.</span>
                    </div>
                  </div>
                  <div class="media tm-notification-item">
                    <div class="tm-gray-circle"><img src="/admin/img/notification-03.jpg" alt="Avatar Image"
                        class="rounded-circle"></div>
                    <div class="media-body">
                      <p class="mb-2"><b>Victoria</b> and <b>6 others</b> sent you <a href="#"
                          class="tm-notification-link">order updates</a>. Read order information.</p>
                      <span class="tm-small tm-text-color-secondary">6h ago.</span>
                    </div>
                  </div>
                  <div class="media tm-notification-item">
                    <div class="tm-gray-circle"><img src="/admin/img/notification-01.jpg" alt="Avatar Image"
                        class="rounded-circle"></div>
                    <div class="media-body">
                      <p class="mb-2"><b>Laura Cute</b> and <b>6 others</b> sent you <a href="#"
                          class="tm-notification-link">product records</a>.</p>
                      <span class="tm-small tm-text-color-secondary">6h ago.</span>
                    </div>
                  </div>
                  <div class="media tm-notification-item">
                    <div class="tm-gray-circle"><img src="/admin/img/notification-02.jpg" alt="Avatar Image"
                        class="rounded-circle"></div>
                    <div class="media-body">
                      <p class="mb-2"><b>Samantha</b> and <b>6 others</b> sent you <a href="#"
                          class="tm-notification-link">order stuffs</a>.</p>
                      <span class="tm-small tm-text-color-secondary">6h ago.</span>
                    </div>
                  </div>
                  <div class="media tm-notification-item">
                    <div class="tm-gray-circle"><img src="/admin/img/notification-03.jpg" alt="Avatar Image"
                        class="rounded-circle"></div>
                    <div class="media-body">
                      <p class="mb-2"><b>Sophie</b> and <b>6 others</b> sent you <a href="#"
                          class="tm-notification-link">product updates</a>.</p>
                      <span class="tm-small tm-text-color-secondary">6h ago.</span>
                    </div>
                  </div>
                  <div class="media tm-notification-item">
                    <div class="tm-gray-circle"><img src="/admin/img/notification-01.jpg" alt="Avatar Image"
                        class="rounded-circle"></div>
                    <div class="media-body">
                      <p class="mb-2"><b>Lily A</b> and <b>6 others</b> sent you <a href="#"
                          class="tm-notification-link">product updates</a>.</p>
                      <span class="tm-small tm-text-color-secondary">6h ago.</span>
                    </div>
                  </div>
                  <div class="media tm-notification-item">
                    <div class="tm-gray-circle"><img src="/admin/img/notification-02.jpg" alt="Avatar Image"
                        class="rounded-circle"></div>
                    <div class="media-body">
                      <p class="mb-2"><b>Amara</b> and <b>6 others</b> sent you <a href="#"
                          class="tm-notification-link">product updates</a>.</p>
                      <span class="tm-small tm-text-color-secondary">6h ago.</span>
                    </div>
                  </div>
                  <div class="media tm-notification-item">
                    <div class="tm-gray-circle"><img src="/admin/img/notification-03.jpg" alt="Avatar Image"
                        class="rounded-circle"></div>
                    <div class="media-body">
                      <p class="mb-2"><b>Cinthela</b> and <b>6 others</b> sent you <a href="#"
                          class="tm-notification-link">product updates</a>.</p>
                      <span class="tm-small tm-text-color-secondary">6h ago.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 tm-block-col">
              <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                <h2 class="tm-block-title">Orders List</h2>
                <!-- <table class="table table-striped table-dark mt-5" id="myTable">
                            <thead>
                              <tr style="width: fit-content">
                                <th scope="col">No</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Pincode</th>
                                <th>Mobile</th>
                                <th>Total Amount</th>
                                <th>Total Quantity</th>
                                <th>Payment Status</th>
                                <th></th>
                                <th>Payment</th>
                                <th>Order Status</th>
                                <th>Delivery Status</th>
                                <th>Option</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <%# locals.orders.reverse().forEach(function(order, index) { %>
                                <%# order.products.forEach(prd=> { %>
                                  <tr>
                                    <th scope="row">
                                      <%#= index + 1 %>
                                    </th>
                                    <td>
                                      <%#= new Date(order.createdAt).toLocaleString('en-US', { month: 'short' , day: 'numeric' ,
                                        year: 'numeric' , hour12: true }) %>
                                    </td>
                                    <td>
                                      <%#= order.deliveryDetails.firstname %>
                                        <%#= order.deliveryDetails.lastname %>
                                    </td>
                                    <td>
                                      <%#= order.deliveryDetails.streetaddress %>, <%#= order.deliveryDetails.town %>, <%#=
                                            order.deliveryDetails.state %>
                                    </td>
                                    <td>
                                      <%#= order.deliveryDetails.zip %>
                                    </td>
                                    <td>
                                      <%#= order.deliveryDetails.mobile %>
                                    </td>
                                    <td>₹<%#= order.totalAmount %>
                                    </td>
                                    <td>
                                      <%#= order.products.reduce((total, product)=> total + product.quantity, 0) %>
                                    </td>
                                    <td>
                                      <%#= order.paymentstatus %>
                                    </td>
                                    <td>
                                      <%#= order.deliverystatus %>
                                    </td>
                                    <td>
                                      <%#= order.paymentMethod %>
                                    </td>
                                    <td>
                                      <%#= prd.orderstatus %>
                                    </td>
                                    <td>
                                    <button class="btn btn-success my-btn" onclick="viewDetails('<%#= order._id %>')">View Details</button>
                                  </td>
                                    <form action="/admin/order-details/?orderId=<%#=order._id %>&productId=<%#= prd.item._id %>"
                                      method="post">
                                      <td>
                  
                                        <select class="btn btn-danger btn-sm" name="deliveryStatus" id=""
                                          <%#=(prd.orderstatus==='cancelled' || order.paymentstatus==='failed' ) ? 'disabled' : '' %>>
                  
                                          <option value="default">
                                            <%#= prd.deliverystatus %>
                                          </option>
                                          <option value="Shipped">
                                            Shipped
                                          </option>
                                          <option value="Out-for-delivery">
                                            Out for delivery
                                          </option>
                                          <option value="Delivered">
                                            Delivered
                                          </option>
                                          <option value="Returned">
                                            Returned
                                          </option>
                  
                                        </select>
                  
                  
                                      </td>
                                      <td>
                                        <button type="submit" class="btn btn-warning">save</button>
                                      </td>
                                    </form>
                                  </tr>
                                  <%# }) %>
                                    <%# }) %>
                            </tbody>
                          </table> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/admin/adminScript.ejs') %>
        <script>
          Chart.defaults.global.defaultFontColor = 'white';
          let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
          barChart, pieChart;
          // DOM is ready
          $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
              updateLineChart();
              updateBarChart();
            });
          })

          function updateLatestHits() {
            const latestHitsDataElement = document.getElementById('latestHitsData')
            if (latestHitsDataElement) {
              const latestHitsData = JSON.parse(latestHitsDataElement.textContent)
              console.log(latestHitsData)
            }
          }

          function drawLineChart(orderData) {
            if ($("#lineChart").length) {
              ctxLine = document.getElementById("lineChart").getContext("2d");
              optionsLine = {
                scales: {
                  yAxes: [
                    {
                      scaleLabel: {
                        display: true,
                        labelString: "Hits",
                      },
                    },
                  ],
                },
              };

              // Set aspect ratio based on window width
              optionsLine.maintainAspectRatio =
                $(window).width() < width_threshold ? false : true;

              const monthLabels = [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
              ];

              const orderCounts = getOrderCountsByMonth(orderData, monthLabels);
              console.log(orderCounts)
              configLine = {
                type: "line",
                data: {
                  labels: monthLabels,
                  datasets: [
                    {
                      label: "Order Count",
                      data: orderCounts,
                      fill: false,
                      borderColor: "rgb(75, 192, 192)",
                      cubicInterpolationMode: "monotone",
                      pointRadius: 0,
                    },
                  ],
                },
                options: optionsLine,
              };
              lineChart = new Chart(ctxLine, configLine);
            }
          }
          // Function to calculate order counts for each month
          function getOrderCountsByMonth(orderData, monthLabels) {
            const orderCounts = Array(monthLabels.length).fill(0);

            orderData.forEach((order) => {
              const orderMonth = new Date(order.createdAt).getMonth();
              orderCounts[orderMonth]++;
            });

            return orderCounts;
          }
        </script>
    </body>
    <%#- include('../partials/admin/adminFooter.ejs') %>

      </html>